/*-------------------------------------------Generalt--------------------------------------*/

* {
    margin: 0;
}

body {
    background-color: #FFFFFF;
    line-height: 150%;
}

h1 {
    font-family: 'Lekton', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Lekton', sans-serif;
}

p {
    font-family: "helvetica";
    font-weight: 100;
}

.column_left {
    flex-basis: 200px;
    flex-grow: 1;
}

.column_right {
    flex-basis: 200px;
    flex-grow: 1;
}

.sectionwrapper {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}




/*--------------------------------------------Navigation-----------------------------------*/
nav {
    background-color: #373D46;
    height: 10px;
    padding: 20px;
}

/*-------------------------Kampagne navn og kort beskrivelse-------------------------------*/

#section1 {}

/*-----------------------------------------Kampagne video----------------------------------*/

#section2 {
    background-color: #EAEAEA;
}

/*---------------------------------Infografik cykel diagram-------------------------*/

#section3 {
    background-color: #414B5A;
    color: white;
}

#section3 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#section3 .column_left {
    background-image: url(SVG/infografik2.svg);
    background-size: 80vw;
    background-repeat: no-repeat;
    height: 30vw;
    width: 150vw;
    flex-basis: 300px;
    flex-grow: 1;
}


/*----------------------------------------Interaktivtspil----------------------------------*/

#section4 {}


/*---------------------------Datavisualisering søjle diagram ------------------------------*/


#section5 {
    background-color: #EAEAEA;
}

.datavisualisering {
    display: flex;
    flex-wrap: wrap;
}

#section5 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.dame {
    background-image: url(SVG/dame.svg);
    background-size: 10vw;
    background-repeat: no-repeat;
    height: 10vw;
    width: 12vw;
}

.herre {
    background-image: url(SVG/herre.svg);
    background-size: 10vw;
    background-repeat: no-repeat;
    height: 10vw;
    width: 12vw;
}

.uni {
    background-image: url(SVG/uni.svg);
    background-size: 10vw;
    background-repeat: no-repeat;
    height: 10vw;
    width: 12vw;
}


/*----------------------------------------Footer----------------------------------*/
footer {
    background-color: #373D46;
    color: #a7a7a7;
    font-family: 'Lekton', sans-serif;
    line-height: 100%;
}
